html, body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 400px;
  margin: 0 auto;

  >* {
    margin: 0 8px;
  }
}

hr {
  border-top: 1px dashed lightgray;
  border-bottom: 0;
}

h1, h2, h3 {
  text-align: center;;
}

h1, h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

h2 + p {
  margin-top: -1rem;
  font-size: small;
  text-align: center;
}

.monthly-summary,
.monthly-details {
  dt {
    padding: 0 4px;
    font-size: small;
  }

  dd {
    text-align: right;

    +dd {
      font-size: x-small;
    }
  }
}

.monthly-summary {
  dt {
    background-color: #DCDCDC;
  }
}

.monthly-details {
  dt {
    background-color: #ECECEC;
  }
}
