html, body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 64px;

  >* {
    margin: 0 8px;
  }
}

header {
  position: relative;
  height: 64px;
  
  display: flex;
  justify-content: space-between;

  > * {
    align-self: center;
    box-sizing: border-box;
  }

  h1 {
    margin: 0;
    padding: 0;
    line-height: 48px;
  }

  .button {
    padding: 8px;

    &:first-child {
      width: 36px;
    }
  }

  i.gg-trending {
    margin-top: 4px;
  }

  i.gg-chart {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}

hr {
  border-top: 1px dashed lightgray;
  border-bottom: 0;
}

h1, h2, h3 {
  text-align: center;;
  vertical-align: middle;
}

h1, h2 {
  font-size: large;
}

h3 {
  font-size: medium;

  &.mt {
    margin-top: 32px;
  }
}

.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 64px;
  background-color: white;
  border-top: 1px solid #ECECEC;
  box-shadow: 0 0 4px rgba(0,0,0,.1);

  display: flex;
  justify-content: space-between;

  > * {
    align-self: center;
  }

  .indicator {
    h2, p {
      margin:0;
    }

    h2+p {
      font-size: small;
      text-align: center;
    }
  }

  .flip {
    &--disabled {
      visibility: hidden;
      pointer-events: none;
    }

    i {
      margin: 16px;
    }
  }
}

.monthly-summary, .monthly-details {
  dt {
    padding: 0 4px;
    font-size: small;

    +dd {
      +dd {
        padding-top: 2px;
      }
    }
  }

  dd {
    text-align: right;

    +dd {
      padding-right: 2px;
      font-size: small;
      color: gray;
    }
  }
}

.monthly-summary {
  dt {
    background-color: #DCDCDC;
  }
}

.monthly-details {
  dt {
    background-color: #ECECEC;
  }
}

span.tag {
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: x-small;
  padding: 2px 8px;

  &+span.tag {
    margin-left: 4px;
  }

  &--on {
    background-color: #e0e0e0;
  }
}

table.entries {
  margin-top: 16px;
  width: 100%;
  font-size: x-small;

  tr.bottom {
    td {
      border-bottom: 1px solid gray;
    }

    &+tr {
      td {
        padding-top: 16px;
      }
    }
  }

  .timestamp {
    text-align: right;
    color: lightgray;
  }

  .note {
    padding-left: 4px;
  }

  .amount {
    text-align: right;
  }

  .account-item {
    padding-left: 4px;
  }
}

.coefficient {
  text-align: center;
  font-size: small;

  dt, dd {
    display: inline-block;
  }

  dt{
    text-align: right;

    &::after {
      content: ':'
    }
  }

  dd {
    margin-left: 4px;
    text-align: left;

    &::after {
      content: '%';
    }
  }
}
