html, body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 400px;
  margin: 0 auto;

  >* {
    margin: 0 8px;
  }
}

hr {
  border-top: 1px dashed lightgray;
  border-bottom: 0;
}

h1, h2 {
  font-size: large;
  text-align: center;;
}

.monthly-summary {
  dt {
    padding: 0 4px;
    background-color: #DCDCDC;
    font-size: small;
  }

  dd {
    text-align: right;

    +dd {
      font-size: x-small;
    }
  }
}
